<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Portafolio.la</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="#yo">Yo</a>
				</li>
				<li>
					<a href="#perfil">Perfil</a>					
				</li>
				<li>
					<a href="#trabajo">Trabajo</a>					
				</li>
				<li>
					<a href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure>
			<img src="avatar.jpg" alt="Avatar">
			<figcaption>
				<a href="http://twitter.com/benjachomin" target="_blank">				
					@benjachomin
				</a>
			</figcaption>
			<p>
				Benjamín De la cruz Matínez.
			</p>
		</figure>
	</header>
	<section>
		<h2>Mi perfil</h2>
		<p>
			Hola! si llegaste hasta aquí puedes ver mi portafolio y contactame.
		</p>
		<a href="http://twitter.com/benjachomin" target="_blank">				@benjachomin
		</a>
		<a href="https://www.facebook.com/benjamin.delacruz.14">		Benjamín De la cruz Martínez.
		</a>
		<a href="https://github.com/kimvex">
			Kimvex
		</a>
	</section>
	<section>
		<h2>Mi trabajo</h2>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="mejorandola.jpg" alt="Esto es la descripción de mi imagen">
				<figcaption>Website de mejorando.la</figcaption>
			</figure>
		</article>
	</section>
	<footer>
		<h3>Contacto</h3>
		<p>Si tienes una sugerencia o quieres trabajar conmigo ponet en contacto.</p>
		<form>
			<input type="text" placeholder="Nombre">
			<input type="email" placeholder="Email">
			<textarea placeholder="Motivo"></textarea>
			<input type="submit">
		</form>
	</footer>
</body>
</html>